{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load crispy_forms_tags %}

{% block body_class %}template-regionpage{% endblock %}

{% block content %}


    <h1>{{ page.title }}</h1>
    {% if message %}
        <div class="alert alert-success card card-body">
            {{ message }}
        </div>
    {% endif %}
        <div>先攻プレイヤー: {{ page.parent_player }}</div>
        <div>勝者: {{ page.winner }}</div>
        <div>敗者: {{ page.loser }}</div>
        <div>引き分け: {{ page.is_draw }}</div>
        <div>不戦勝: {{ page.is_bye }}</div>

        <div>開始時刻: {{ page.started_at }}</div>
        <div>終了時刻: {{ page.finished_at }}</div>
        <div>時間内に終了した？: {{ page.finished_in_time }}</div>
        <div>最終戦？: {{ page.is_the_last_game }}</div>
    <div>仮実装</div>

    {% if form %}
    <p>
  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#game_edit_form" aria-expanded="false" aria-controls="game_edit_form">
    試合の編集をする
  </button>
</p>
<div class="collapse" id="game_edit_form">
  <div class="card card-body">
    <form action="." method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <p><input type="submit" value="上書き保存" class="btn btn-primary"></p>
        </form>
  </div>
</div>

    {% endif %}



    <p><a href="{{ page.get_parent.url }}">Return to {% if page.series.parent_series %}
    parent series
    {% else %}
    Home
    {% endif %}</a></p>

{% endblock %}