{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load crispy_forms_tags %}

{% block body_class %}template-regionpage{% endblock %}

{% block content %}

    <p>{{ message }}</p>
    {% if player1_approve_alert or player2_approve_alert %}
        <div class="alert alert-warning">
            <p>
            あなたがマッチの結果を承認する必要があります。<br />表示されている内容が正しければ、承認ボタンを押してください。
            </p>
            <form action="" method="POST">
            {% csrf_token %}
            {% if player1_approve_alert %}
                <button type="submit" name="player1_approve" class="btn btn-success" value="承認する">承認する</button>
            {% else %}
                <button type="submit" name="player2_approve" class="btn btn-success" value="承認する">承認する</button>
            {% endif %}
</form>
        </div>
    {% endif %}

    {% if player1_approve_thank_you or player2_approve_thank_you %}
        <div class="alert alert-success">
            <p>
                結果の承認が登録されました！ご協力ありがとうございます。
            </p>
        </div>
    {% endif %}


    {% if form %}
    <p>
  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#match_edit_form" aria-expanded="false" aria-controls="match_edit_form">
    マッチの編集をする
  </button>
</p>
<div class="collapse" id="match_edit_form">
  <div class="card card-body">
    <form action="." method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <p><input type="submit" value="上書き保存" class="btn btn-primary"></p>
        </form>
  </div>
</div>

    {% endif %}

        <div>n回戦(親ラウンド): {{ page.parent_round.round_count }}</div>
        <div>マッチ終了の規定勝数: {{ page.max_win_count }}</div>
        <div>規定試合時間: {{ page.time_limit_in_second }}</div>
        <div>プレイヤー1: {{ page.player1.title }}</div>
        <div>プレイヤー2: {{ page.player2.title }}</div>

        <div>終了: {{ page.is_finished }}</div>
        <div>マッチ勝者: {{ page.winner }}</div>
        <div>マッチ敗者: {{ page.loser }}</div>
        <div>引き分け: {{ page.is_draw }}</div>
        <div>不戦勝: {{ page.is_bye }}</div>
    <div>仮実装</div>


    <table>
    <caption>従属する試合の表</caption>
    <tr>
        <th>title(試合名)</th>
        <th>url</th>
        <th>先攻プレイヤー</th>
        <th>勝者</th>
        <th>敗者</th>
   </tr>


        {% for child_page in page.get_children.specific %}
    <tr>
        <td>{{ child_page.title }}</td>
        <td><a href="{{ child_page.url }}">{{ child_page.url }}</a></td>
        <td>{{ child_page.first_player }}</td>
        <td>
        {% if child_page.winner %}
            {{ child_page.winner }}
        {% else %}
            なし
        {% endif %}
        </td>
        <td>
        {% if child_page.loser %}
            {{ child_page.loser }}
        {% else %}
            なし
        {% endif %}
        </td>
    </tr>
    {% endfor %}

</table>

    <p><a href="{{ page.get_parent.url }}">Return to {% if page.series.parent_series %}
    parent series
    {% else %}
    Home
    {% endif %}</a></p>

{% endblock %}