{% extends "base.html" %}

{% load wagtailcore_tags %}

{% load crispy_forms_tags %}
{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.dateTime }}</p>

    <div class="intro">{{ page.intro }}</div>
    {# {{ page.body|richtext }} #}
    {% if message %}
        <div class="alert alert-success card card-body">
            {{ message|safe }}
        </div>
    {% endif %}
    <p>
    {% if user.is_authenticated %}
        {% if page.owner == user or page.parent_series == None %}
            <div class="card card-body">
                <form action="." method="POST">
                    {% csrf_token %}
                    {{ series_form|crispy }}
                    <button class="btn btn-primary m-2" type="submit" name="create_series" value="">大会シリーズを作成する</button>
                </form>
            </div>
        {% endif %}
        {% if page.owner == user %}
            <div class="card card-body">
                <form action="." method="POST">
                    {% csrf_token %}
                    {{ tournament_form|crispy }}
                    <button class="btn btn-primary m-2" type="submit" name="create_tournament" value="">トーナメントを作成する</button>
                </form>
            </div>
        {% endif %}
    {% endif %}

    <div>
    シリーズ情報
</div>
    {% if page.parent_series %}
        <div>
            親シリーズ: {{ page.parent_series }}
        </div>
    {% endif %}



    name: {{ page.title }}

    <div>Owner: username = {{page.owner.username}}, id = {{page.owner.id}}
     </div>
    {% if page.seriespage_set.all %}
        <table class="card card-body">
        <caption>子シリーズ</caption>
        {% for series_page_obj in page.seriespage_set.all %}
            <tr><td><a href="{{series_page_obj.url}}"> {{series_page_obj.title}}</a></td></tr>
            {% endfor %}
</table>
    {% endif %}
</p>

    <p><a href="{{ page.get_parent.url }}">Return to {% if page.parent_series %}
    parent series
    {% else %}
    Home
    {% endif %}</a></p>

{% endblock %}