{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-regionpage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>

    <div class="intro">{{ page.intro }}</div>
    <div class="intro">{{ page.body }}</div>
    <div class="intro">{{ page.zip }}</div>
    <div class="intro">{{ page.phone_number}}</div>
    <div class="intro">{{ page.website_url }}</div>
    <div class="intro">{{ page.is_active }}</div>
    <div>仮実装</div>

    <p><a href="{{ page.get_parent.url }}">Return to {% if page.series.parent_series %}
    parent series
    {% else %}
    Home
    {% endif %}</a></p>

{% endblock %}